@page "/"
@using SpotifyAPI.Web
@using SpotifyBlazor.Controllers
@using SpotifyBlazor.Data
@using TrackRequest = SpotifyBlazor.Models.TrackRequest
@inject NavigationManager navManager

@* UI to show mixing desk with sliders of parameters to meet e.g. instrumentalness, tempo etc
App will get all users songs and generate playlist meeting parameters
 *@

<PageTitle>Spotify Login</PageTitle>

@if (_isAuthed && _me != null)
{
    @if (!SpotifyClientController.ActiveDevice)
    {
        <h2>Welcome @_me.DisplayName!</h2>
        <p>
            Please select a device:
            <div>
                <ul>
                    @foreach (var device in _devicesList)
                    {
                        <button id=@device.Name>
                            <a @onclick="() => SpotifyClientController.ChooseDevice(_spotify, device)">@device.Name</a>
                        </button>
                    }
                </ul>
            </div>
        </p>
    }
    else
    {
        <h2>Welcome @_me.DisplayName!</h2>
        <p>
            You have a grand total of @_totalPlaylistCount playlists!
        </p>
        if (_selectedPlaylist is null)
        {
            @foreach (var playlist in _playlists)
            {
                <tr>
                    <td>
                        <button @onclick="(() => GetTracksFromPlaylist(playlist))">@playlist.Name</button>
                    </td>
                    <td>@playlist.Tracks.Total</td>
                </tr>
            }
        }
        if (_selectedPlaylist is not null)
        {
            <p>@_selectedPlaylist.Name</p>
            var totalTracks = $"Total number of tracks: {_selectedPlaylist.Tracks.Total}";
            <p>@totalTracks</p>

            SpotifyClientController.IsPlaying = _spotify.Player.GetCurrentlyPlaying(new PlayerCurrentlyPlayingRequest()).Result.IsPlaying;

            <button id="previous" @onclick="() => SpotifyClientController.Previous(_spotify)">Previous</button>

            @if (SpotifyClientController.IsPlaying)
            {
                <button id="pause" @onclick="() => SpotifyClientController.Pause(_spotify)">Pause</button>
            }
            else if (!SpotifyClientController.IsPlaying)
            {
                <button id="play" @onclick="() => SpotifyClientController.Play(_spotify, _selectedPlaylist)">Play</button>
            }
            <button id="next" @onclick="() => SpotifyClientController.Next(_spotify)">Next</button>
            <button @onclick="GoBackToPlaylists">Back to Playlists</button>

            <p>@SpotifyClientController.IsPlaying</p>

            <EditForm Model="_trackRequest" OnValidSubmit="@(() => TrackService.GetAudioFeatures(_spotify, _selectedPlaylist))">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="range">
                                <input @bind="TrackRequest.Instrumentalness" type="range" min="0" max="100" id="instrumentalness" name="instrumentalness" oninput="rangeValue1.innerText = this.value">
                                <p id="rangeValue1">0</p>
                                <br/>
                                <label for="instrumentalness">Instrumentalness</label>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm">
                            <div class="range">
                                <input @bind="TrackRequest.Speechiness" type="range" min="0" max="100" id="speechiness" name="speechiness" oninput="rangeValue2.innerText = this.value">
                                <p id="rangeValue2">0</p>
                                <br/>
                                <label for="speechiness">Speechiness</label>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm">
                            <div class="range">
                                <input @bind="TrackRequest.Valence" type="range" min="0" max="100" id="valence" name="valence" oninput="rangeValue3.innerText = this.value">
                                <p id="rangeValue3">0</p>
                                <br/>
                                <label for="valence">Valence</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="col-auto">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </EditForm>
            <br/>

            if (TrackService.MatchingTracks is not null)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Instrumentalness</th>
                        <th scope="col">Speechiness</th>
                        <th scope="col">Valence</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var track in TrackService.MatchingTracks)
                    {
                        <tr>
                            <td>@track.Name</td>
                            <td>@track.Instrumentalness</td>
                            <td>@track.Speechiness</td>
                            <td>@track.Valence</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        }
    }
}
else
{
    <span>To get started:</span>
    <a href="@_authUri">
        Login via Spotify
    </a>
}

@code {
    private static IConfiguration _secrets;

    private Uri _authUri;

    private bool _isAuthed;

    private PrivateUser _me;

    private Dictionary<string, string>? _fragmentParams;

    private int? _totalPlaylistCount;

    private List<SimplePlaylist>? _playlists;

    private SimplePlaylist? _selectedPlaylist;

    private SpotifyClient _spotify;

    private DeviceResponse _devices;

    private List<Device> _devicesList;

    private bool _isPlaying;

    private readonly TrackRequest _trackRequest = new();
    

    protected override void OnInitialized()
    {
        _secrets = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("secrets.json")
            .Build();
        
        var baseUri = navManager.ToAbsoluteUri(navManager.BaseUri);

        var loginRequest = new LoginRequest(baseUri, _secrets["spotify_client_id"], LoginRequest.ResponseType.Token)
        {
            Scope = new[] { Scopes.PlaylistReadPrivate, Scopes.PlaylistReadCollaborative, Scopes.AppRemoteControl, Scopes.Streaming, Scopes.UserModifyPlaybackState, Scopes.UserReadCurrentlyPlaying, Scopes.UserReadPlaybackState }
        };
        _authUri = loginRequest.ToUri();
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(navManager.Uri);
        var maxLen = Math.Min(1, uri.Fragment.Length);
        _fragmentParams = uri.Fragment.Substring(maxLen)?
            .Split("&", StringSplitOptions.RemoveEmptyEntries)?
            .Select(param => param.Split("=", StringSplitOptions.RemoveEmptyEntries))?
            .ToDictionary(param => param[0], param => param[1]) ?? new Dictionary<string, string>();

        _isAuthed = _fragmentParams.ContainsKey("access_token");
        if (_isAuthed)
        {
            _spotify = new SpotifyClient(_fragmentParams["access_token"]);

            _me = await _spotify.UserProfile.Current();
            _totalPlaylistCount = (await _spotify.Playlists.CurrentUsers()).Total;
            _playlists = (await _spotify.Playlists.CurrentUsers()).Items;

            _devices = await _spotify.Player.GetAvailableDevices();

            _devicesList = _devices.Devices;
        }
    }

    private void GetTracksFromPlaylist(SimplePlaylist playlist)
    {
        _selectedPlaylist = playlist;
    }

    private void GoBackToPlaylists()
    {
        _selectedPlaylist = null;
        TrackService.MatchingTracks = null;
    }

}